<div *ngIf="hardware">
  <h2>{{'hardware.detailsAbout' | translate}} {{hardware.name}}</h2>
  <div><span>{{'hardware.price' | translate}}: </span>{{hardware.price}} EUR</div>
  <div *ngIf="hardware.price > 1000">{{'hardware.reviews' | translate}}.</div>

  <div *ngIf="reviews != null && reviews.length > 0" >
    <h3>{{'hardware.reviews' | translate}}</h3>
    <ul>
      <li *ngFor="let review of reviews">
        {{review.title}} - {{review.rating}}/5
      </li>
    </ul>
  </div>
  <div *ngIf="reviews != null && reviews.length === 0" >
    <h3>{{'hardware.noReviewsMsg' | translate}}</h3>
  </div>

  <button (click)="goBack()">{{'hardware.back' | translate}}</button>
</div>
