:root {
  color-scheme: dark;
}

*::selection {
  background: #63e2b7;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: hsl(240, 8%, 10%);
}

::-webkit-scrollbar-thumb {
  background: hsl(240, 8%, 15%);
}
